@model IEnumerable<ONGColab.Domain.ViewModels.DoadorViewModel>
@using System.Globalization
 
@{
    ViewData["Title"] = "Voluntárixs";
}

<div class="text-center">
    <h3>Veja os voluntárixs que já se candidataram!</h3>
    <hr />
</div>


<table class="table table-striped table-bordered text-center">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HabilidadesVaga)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
        </tr>
    </thead>
    <tbody>
        @if (Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HabilidadesVaga)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">
                    <center> <span class="text-center">Essa ONG ainda não possui voluntários inscritos, seja você o primeiro!</span></center>
                </td>
            </tr>
        }
    </tbody>
</table>

