@model ONGColab.Domain.ViewModels.HomeViewModel
@using System.Globalization 

@{
    ViewData["Title"] = "Rede de apoio para ONGs";
}

<div class="text-center">
    <h3>Rede de apoio para inscrições em voluntariados de ONGs</h3>

    <hr />

    <p>        
        <a asp-controller="Voluntariados" asp-action="Create" class="btn btn-yellow">
            <span></span>Se voluntarie agora
        </a>
    </p>


    <table class="table table-bordered">
        <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => Model.QuantidadeVoluntarixs)
                </td>
            </tr>

        </tbody>
    </table>

    @if (Model.Voluntarixs.Any())
    {
        <hr />

        <h4>Quem já se candidatou?</h4>

        <div id="carouselDoadores" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner" style="background-color: gray;">
                @foreach (var item in Model.Voluntarixs)
                {
                    var active = "";
                    @if (item==Model.Voluntarixs.FirstOrDefault()) {active="active";}
                    <div class="carousel-item @active">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-8">
                                <div class="card">
                                    <div class="card-header">
                                        @item.Nome - @item.Valor.ToString("C", CultureInfo.CreateSpecificCulture("pt-BR"))
                                    </div>
                                    <div class="card-body">
                                        @item.HabilidadesVaga <br/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-2"></div>
                        </div>
                    </div>
                }
            </div>
            <a class="carousel-control-prev" href="#carouselDoadores" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
            </a>
            <a class="carousel-control-next" href="#carouselDoadores" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
        </div>
    }

    <hr />

    <h4>Para onde vai minha candidatura? </h4>

    <div id="carouselONGs" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner" style="background-color: gray;">
            @foreach (var item in Model.Instituicoes)
            {
                var active = "";
                @if (item==Model.ONGs.FirstOrDefault()) {active="active";}
                <div class="carousel-item @active">
                    <div class="row">
                        <div class="col"></div>
                        <div class="col">
                            <div class="card">
                                <div class="card-header">
                                    @item.ONG
                                </div>
                                <div class="card-body">
                                    @item.Cidade - @item.Estado
                                </div>
                            </div>
                        </div>
                        <div class="col"></div>
                    </div>
                </div>
            }
        </div>
        <a class="carousel-control-prev" href="#carouselONGs" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
        <a class="carousel-control-next" href="#carouselONGs" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
    </div>



</div>

@section scripts{

    <script type="text/javascript">
        $('#cauroselVoluntarixs').carousel({
            interval: 3000
        });

        $('#cauroselONGs').carousel({
            interval: 2000
        });
        
    </script>
}